# Ignoruj czcionkę FontAwesome
frontend/fonts

# Ignoruj skompilowane pliki SCSS
frontend/css

# Ignoruj skompilowane pliki TypeScript
frontend/js/

# Ignoruj moduły node.js
node_modules/
package-lock.json

# Ignoruj plik z poświadczeniami
backend/credentials.php

# Ignoruj obrazki do pytań
backend/question_images/*

# Ignoruj katalog z plikami gotowymi do dystrybucji
dist
dist-presets