# Ignore FontAwesome font files
frontend/fonts

#Ignore compiled SCSS files
frontend/css

# Ignore compiled TS
frontend/js/

# Ignore node modules
node_modules/
package-lock.json

# Ignore test page
backend/pages/_dev.php
