.todo {outline:2px solid orange !important;}

html {
    --background-empty-color:#f0f0f0;
    --text-primary-color:rgba(0,0,0,0.87);
    --text-secondary-color:rgba(0,0,0,0.60);
    --text-emphazised-color:var(--text-primary-color);
    --error-color:#f00;
    --success-color:#0a0;
    --header-font-weight:500;
    --surface-background-color:#fff;
    --surface-border-color:#ccc;
    --surface-border-width:1px;
    --surface-border-radius:0;
    --surface-box-shadow:0 0 6px rgba(0,0,0,0.25);
    --elevated-surface-background-color:var(--surface-background-color);
    --elevated-surface-box-shadow:0 0 12px rgba(0,0,0,0.25);
    --dialog-backdrop-background-color:rgba(50,50,50,0.75);
    --dialog-separator-color:#d8d8d8;
    --link-color:#2196f3;
    --link-hover-color:#1565c0;
    --nav-hover-background-color:#f0f0f0;
    --nav-separator-color:#e8e8e8;
    --mobile-header-background:#1e88e5;
    --mobile-header-text-color:#fff;
    --mobile-header-box-shadow:0 0 15px rgba(0,0,0,0.5);
    --mobile-header-border:1px solid #1565c0;
    --mobile-nav-backdrop:rgba(0,0,0,0.5);
    --table-border-color:#bbb;
    --table-main-border-color:#1565c0;
    --button-hover-background:rgba(0,0,0,0.06);
    --button-active-background:rgba(0,0,0,0.09);
    --button-focus-background:rgba(33,150,243,0.13);
    --button-error-focus-background:rgba(255,0,0,0.15);
    --button-text-color:rgba(0,0,0,0.75);
    --button-colored-text-color:#2196f3;
    --button-border-color:#aaa;
    --input-background-color:#fff;
    --input-border-color:#999;
    --input-hover-border-color:#000;
    --input-active-border-color:#1e88e5;
    --progress-bar-background-color:#ddd;
    --progress-bar-foreground-color:#2196f3;
    --toast-background-color:#222;
    --toast-text-color:#fff;
    --toast-box-shadow:0 5px 15px 2px rgba(0,0,0,0.6);
}

@media (prefers-color-scheme: dark) {
    html{
        --background-empty-color:#121212;
        --text-primary-color:rgba(255,255,255,0.87);
        --text-secondary-color:rgba(255,255,255,0.60);
        --text-emphazised-color:#fff;
        --error-color:#f44336;
        --success-color:#4caf50;
        --header-font-weight:300;
        --surface-background-color:linear-gradient(-60deg, #292929, #222);
        --surface-border-color:transparent;
        --surface-border-width:0;
        --surface-border-radius:5px;
        --surface-box-shadow:0 0 3px rgba(85,85,85,0.65);
        --elevated-surface-background-color:linear-gradient(-30deg, #3a3a3a, #2f2f2f);
        --elevated-surface-box-shadow:0 0 12px rgba(255,255,255,0.1);
        --dialog-backdrop-background-color:rgba(0,0,0,0.75);
        --dialog-separator-color:rgba(255,255,255,0.28);
        --link-color:#42a5f5;
        --link-hover-color:#90caf9;
        --nav-hover-background-color:rgba(0,0,0,0.2);
        --nav-separator-color:rgba(255,255,255,0.12);
        --mobile-header-background:#333;
        --mobile-header-text-color:#fff;
        --mobile-header-border:1px solid #222;
        --mobile-nav-backdrop:rgba(0,0,0,0.75);
        --table-border-color:#666;
        --table-main-border-color:#64b5f6;
        --button-hover-background:rgba(255,255,255,0.09);
        --button-active-background:rgba(255,255,255,0.13);
        --button-focus-background:rgba(100,181,246,0.2);
        --button-error-focus-background:rgba(244,67,54,0.2);
        --button-text-color:rgba(255,255,255,0.75);
        --button-colored-text-color:#64b5f6;
        --button-border-color:#666;
        --input-background-color:#282828;
        --input-border-color:#777;
        --input-hover-border-color:#555;
        --input-active-border-color:#1e88e5;
        --progress-bar-background-color:#555;
        --progress-bar-foreground-color:#64b5f6;
        --toast-background-color:#484848;
        --toast-text-color:#fff;
        --toast-box-shadow:none;
    }
}

body {
    --nav-panel-width:calc(150px + 10vw);
    font-size:16px; font-family:'Roboto',sans-serif; color:var(--text-primary-color);
    margin:0; padding:0; min-height:100vh; background:var(--background-empty-color);
    overflow-x:hidden; display:grid; grid-template-columns:1fr var(--nav-panel-width);
    grid-template-areas:'main nav';
}
body.preload * {transition:none !important;}

aside.loading-wrapper {position:fixed; top:30vh; left:10vw; background:lime;}

.center {text-align:center;}
.empty-placeholder {display:block; text-align:center; color:var(--text-secondary-color); margin-bottom:2em;}
.empty-placeholder em {display:block; font-weight:700; font-style:normal; margin-bottom:0.3em;}
.empty-placeholder em + p {margin-top:0;}
.empty-placeholder p {margin:0.5em 0;}
.emoji {color:#000 !important} /* So emoji is not semitransparent */
.secondary {color:var(--text-secondary-color);}
.error {color:var(--error-color) !important;}
.small {font-size:0.85em;}
em {font-weight:500; font-style:normal;}
hr {border:none; border-top:1px solid var(--nav-separator-color); margin:0.5em 0;}
hr.spaced {margin:1em 0;}
p {text-align:justify;}

.overflow-container-x {max-width:100%; overflow-x:auto;}

body > main {grid-area:main; padding:15px; overflow-x:hidden;}
body > main.login {grid-column:1 / 3}
main h1 {font-size:2em; font-weight:var(--header-font-weight); margin-top:0;}
h2 {font-size:1.5em;}

nav.main-nav {
    background:var(--elevated-surface-background-color); border:var(--surface-border-width) solid transparent;
    border-left-color:var(--surface-border-color); position:fixed; top:0; right:0;
    width:var(--nav-panel-width); height:100vh; box-shadow:var(--elevated-surface-box-shadow);
    display:grid; transition:margin 0.5s, border-color 0.5s, width 0.5s, height 0.5s;
    grid-template-rows:1fr auto; grid-template-areas:'links' 'copyright'; z-index:10;
}
nav.main-nav > ul {list-style:none; padding:0; margin:0; grid-area:links; overflow-y:auto; overflow-x:hidden;}
nav.main-nav li.link > a {
    padding:8px 12px;display:block; text-decoration:none; color:var(--text-primary-color);
    transition: background-color 0.15s;
}
nav.main-nav li.link a > * {vertical-align:middle;}
nav.main-nav li.link > a:hover,
nav.main-nav li.link > a:focus {background:var(--nav-hover-background-color); outline:none;}
nav.main-nav li.link .icon {margin-right:0.4ch; margin-left:-3px;}
nav.main-nav li.separator {border-top:1px solid var(--nav-separator-color); margin:2px 8px 3px 8px;}
nav.main-nav li.header {font-weight:700; padding:8px 12px 4px 12px; color:var(--text-emphazised-color);}
nav.main-nav li.nav-toggle {display:none;}
nav.main-nav > .copyright {
    grid-area:copyright; color:var(--text-secondary-color); text-align:center;
    display:block; margin:2px 4px; font-size:0.85rem;
}
nav.main-nav > .copyright a {color:var(--text-secondary-color); text-decoration:none;}
nav.main-nav > .copyright a:hover {color:var(--text-primary-color);}
div.nav-backdrop {
    position:fixed; top:0; left:0; bottom:0; width:0; z-index:9;
    background:rgba(0,0,0,0); transition:background-color 0.3s, width 0s linear 0.3s;
}

aside.mobile-header{
    display:none; grid-area:main; position:fixed; background:var(--mobile-header-background);
    z-index:20; top:0; left:0; right:0; height:24px; padding:16px; border-bottom:var(--mobile-header-border);
    color:var(--mobile-header-text-color); box-shadow:var(--mobile-header-box-shadow); white-space:nowrap;
}
aside.mobile-header .nav-icon {
    display:inline-block; vertical-align:middle; color:var(--mobile-header-text-color);
    line-height:24px; font-size:18px; width:24px; margin:-4px; padding:4px; border-radius:50%;
    text-align:center; transition:background-color 0.3s; cursor:pointer;
}
aside.mobile-header .nav-icon:active {background:rgba(255,255,255,0.3);}
aside.mobile-header h1 {
    display:inline-block;vertical-align:middle; margin:0 0 0 20px; line-height:24px; font-size:20px;
    font-weight:500; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:calc(100vw - 84px);
}

.card {
    padding:15px; margin:0 10vw 20px 10vw; background:var(--surface-background-color);
    border:var(--surface-border-width) solid var(--surface-border-color);
    border-radius:var(--surface-border-radius);
    box-shadow:var(--surface-box-shadow);
}

.card.auto-width {margin-left:auto; margin-right:auto; width:max-content;}
.card.semi-wide {margin-left:3px; margin-right:3px;}
.card.wide {margin-left:3px; margin-right:3px;}
.card-content > h2:first-of-type {margin-top:0; font-weight:var(--header-font-weight); margin-bottom:1em;}
.card-content > h2:first-of-type + .subtitle {
    display:block; color:var(--text-secondary-color); margin-top:-1.3em; margin-bottom:1em;
}
.card .header-button {
    float:right; color:var(--text-primary-color); font-size:0.98em; padding:7px 12px;
    border-radius:calc(0.5em + 8px); border:1px solid var(--button-border-color);
}
.card .header-button > .icon {color:var(--button-colored-text-color);}
.card .header-button > span {margin-left:1ch;}

.card-buttons {margin-top:15px; margin-bottom:-8px; display:flex; flex-direction:row-reverse;}
.card-buttons:empty {display:none;}

.grid-form.login-form {
    width:fit-content; padding:15px 30px; margin:150px auto 0 auto !important;
    justify-content:center; gap:4px 7px; grid-template-columns:auto auto;
}
.login-form h2 {grid-column:1/3; margin-bottom:0.5rem;}
.login-form .login-message {grid-column:1/3; text-align:center; color:var(--error-color);}

.grid-form {
    display:grid; grid-template-columns:auto 1fr; grid-template-rows:auto; grid-auto-rows:auto;
    grid-auto-flow:row; gap:5px;
}
.grid-form label {grid-column:1; align-self:start;}
.grid-form input, .grid-form textarea {grid-column:2;}
.grid-form button, .grid-form select {grid-column:2; justify-self:start;}
.grid-form input.narrow {justify-self:start;}
.grid-form .fieldset, .grid-form h2 {grid-column:1 / span 2;}
.grid-form .description {grid-column:1 / span 2; margin:-5px 0 5px 10px; font-size:0.9em;}
.fieldset p {margin:0 0;}
.get-help {font-size:0.95em; margin-left:10px; text-decoration:none;}

textarea {resize:vertical; min-height:3em; font-family:inherit;}
input[type=text], input[type=password], input[type=number], textarea {
    background:var(--input-background-color); border:1px solid var(--input-border-color);
    transition:border-color 0.3s; padding:2px 5px; font-size:0.9em; color:var(--text-primary-color);
}
input[type=text]:hover, input[type=password]:hover, input[type=number]:hover, textarea:hover {
    border-color:var(--input-hover-border-color);
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus {
    border-color:var(--input-active-border-color); outline:none;
    box-shadow:0 0 2px var(--input-active-border-color);
}
input[type=text]:disabled, input[type=password]:disabled, input[type=number]:disabled, textarea:disabled {
    background:var(--background-empty-color); border:1px solid var(--input-border-color);
    color:var(--text-secondary-color);
}
input[type=text].error, input[type=password].error, input[type=number].error, textarea.error {
    border-color:var(--error-color); color:var(--text-primary-color);
}
input[type=radio] {margin-left:15px;}
input[type=number] {width:6ch;}

input.discreet, textarea.discreet {transition:border-color 0.3s, background 0.3s;}
input.discreet:not(:hover):not(:active):not(:focus),
    textarea.discreet:not(:hover):not(:active):not(:focus) {
    background:transparent; border-color:transparent;
}

table.full-width {width:100%;}
table.table {border-spacing:0; margin-top:0.5rem;}
table.table:first-child {margin-top:0;}
table.table td, table.table th {padding:5px 11px; border-bottom:1px solid var(--table-border-color);}
table.table td:empty, table.table th:empty {padding-top:0; padding-bottom:0;}
table.table td.right {text-align:right;}
table.table th {font-weight:500;}
table.table tr:first-child:not(.not-header) th {border-bottom:1px solid var(--table-main-border-color);}
table.table td button:only-child {margin-left:-10px; margin-right:-10px;}
table.table td input[type=text]:only-child {width:calc(100% + 10px); box-sizing:border-box; margin:0 -5px;}
table.table col.shrink {width:min-content;}
.content-tbody:not(:empty) + .nocontent-tbody {display:none}

.dialog {
    padding:15px; color:var(--text-primary-color); background:var(--elevated-surface-background-color);
    border:var(--surface-border-width) solid var(--surface-border-color);
    border-radius:var(--surface-border-radius); box-shadow:var(--elevated-surface-box-shadow);
    width:300px; z-index:1000; grid-row:2; grid-column:2;
}
.dialog:not(.shown) {display:none;}
.dialog-backdrop {
    background-color:var(--dialog-backdrop-background-color);position:fixed;
    top:0; bottom:0; left:0; right:0; z-index:999; -webkit-backdrop-filter:blur(1px); backdrop-filter:blur(1px);
    display:grid; grid-template-rows:1fr auto 2fr; grid-template-columns:1fr auto 1fr;
}
.dialog-backdrop:not(.shown) {display:none;}
.dialog > h2:first-of-type {
    margin-top:0; font-weight:var(--header-font-weight); margin-bottom:0.5em;
    color:var(--text-emphazised-color); overflow-x:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.dialog > h2:first-of-type .get-help {float:right; margin-right:1px;}
.dialog > .content > *:first-child {margin-top:0;}
.dialog > .content > *:last-child {margin-bottom:0;}
.dialog > .buttons {margin-top:15px; margin-bottom:-8px; display:flex; flex-direction:row-reverse;}
.dialog > .buttons > button {margin-left:5px;}
/*.dialog hr {border-top-color:var(--dialog-separator-color);}*/

.dialog.rich {width:65vw; grid-template-rows:auto 1fr auto; max-height:85vh;}
.dialog.rich.shown {display:grid;}
.dialog.rich > h2:first-of-type {grid-row:1;}
.dialog.rich > .content {grid-row:2; overflow-y:auto; margin-right:-15px; padding-right:15px;}
.dialog.rich > .buttons {grid-row:3;}

.toast {
    position:fixed; bottom:15px; left:20vw; width:calc(60vw - var(--nav-panel-width));
    background:var(--toast-background-color); color:var(--toast-text-color);
    padding:10px 20px; box-sizing:border-box; border-radius:3px;
    box-shadow:var(--toast-box-shadow); opacity:1;
    transition:opacity 0.5s, bottom 0.5s;
}
.toast.hidden {opacity:0; bottom:-100px;}

a {color:var(--link-color);}
a:hover {color:var(--link-hover-color);}

a.button, button {
    display:inline-block; background:transparent; border-radius:2px; border:none;
    padding:5px 12px; font-weight:500; text-transform:uppercase; line-height:1.2em;
    color:var(--button-colored-text-color); text-decoration:none; font-size:0.9em;
    font-family:inherit; cursor:pointer; transition: background 0.2s;
}
a.button.compact, button.compact {padding:3px 10px; margin:-1px 0;}
a.button.big, button.big {padding:8px 20px; font-size:1.05em;}
a.button:hover, button:hover {background:var(--button-hover-background);}
a.button:active, button:active {background:var(--button-active-background);}
a.button:focus, button:focus {outline:none;}
a.button:focus:not(:active),
    button:focus:not(:active):not(.answer-button) {background:var(--button-focus-background);}
a.button.error:focus:not(:active),
    button.error:focus:not(:active):not(.answer-button) {background:var(--button-error-focus-background);}

a.button.with-border, button.with-border {
    border-radius:calc(0.5em + 6px); border:1px solid var(--button-border-color);
}
a.button.compact.with-border, button.compact.with-border {border-radius:calc(0.6em + 4px);}
a.button.big.with-border, button.big.with-border {border-radius:calc(0.6em + 9px);}

a.button.secondary, button.secondary {color:var(--button-text-color);}

.question-metadata {
    color:var(--text-secondary-color); margin-top:-5px; display:grid; column-gap:5px;
    grid-template-columns:1fr auto 1fr; grid-template-areas:'count score timer';
    margin-bottom:0.6em; align-items:center; border-bottom:1px solid var(--nav-separator-color);
    padding-bottom:0.4em;
}
.question-metadata .question-count {grid-area:count; justify-self:start;}
.question-metadata .question-score {
    grid-area:score; color:var(--text-primary-color); font-size:1.2em; font-weight:var(--header-font-weight);
}
.question-metadata .question-timer {grid-area:timer; justify-self:end;}
.question-metadata .icon {margin-right:0.4ch;}
.question-text.long {
    --header-font-weight:400; font-size:1.2rem; text-align:justify; grid-auto-rows:1fr;
    grid-auto-flow: row;
}

.question-answer-buttons {
    display:grid; grid-template-columns:1fr 1fr 1fr 1fr; grid-template-rows:1fr;
    gap:5px; grid-auto-rows:1fr; margin-bottom:10px;
}
.question-answer-buttons button {grid-column:auto/span 2;}
.question-answer-buttons button:nth-child(2n+1):last-child {grid-column:2/span 2;}
button.answer-button {
    border:1px solid var(--button-border-color); border-radius:4px; color:var(--text-primary-color);
    min-height:3em; max-height:4.5em;
}
button.answer-button:focus {border:2px solid var(--input-active-border-color); margin:-1px;}
button.answer-button.selected {background:var(--button-focus-background); border-color:var(--input-active-border-color);}

button.answer-button.correct {border-color:var(--success-color); color:var(--success-color);}
button.answer-button.wrong {border-color:var(--error-color); color:var(--error-color);}
button.answer-button.correct:not(.selected)::after,
button.answer-button.wrong.selected::after {
    content:'\f00d'; font-size:2em; font-family:FontAwesome; color:var(--error-color); float:left;
}

.test-summary {
    display:grid; grid-template-columns:1fr 1fr; grid-template-rows:auto auto auto auto; justify-items:center;
    grid-template-areas:'count time' 'count-text time-text' 'attempts attempts' 'buttons buttons';
}
.test-summary .question-count {grid-area:count; font-size:2.5em; font-weight:var(--header-font-weight);}
.test-summary .question-count-text {grid-area:count-text; font-size:0.8em; color:var(--text-secondary-color);}
.test-summary .time-limit {grid-area:time; font-size:2.5em; font-weight:var(--header-font-weight);}
.test-summary .time-limit-text {grid-area:time-text; font-size:0.8em; color:var(--text-secondary-color); text-align:center;}
.test-summary .remaining-attempts {grid-area:attempts; margin:0.6em; color:var(--text-secondary-color);}
.test-summary .buttons {
    grid-area:buttons; display:grid; grid-template-columns:1fr 1fr; column-gap:10px;
    grid-template-areas:'btn-cancel btn-start';
}
.test-summary .buttons *:only-child {grid-column:1/3;}
.test-summary .exit-test {grid-area:btn-cancel; text-align:center;}
.test-summary .start-test {grid-area:btn-start; text-align:center;}
.loading-test {text-align:center; margin-top:20px; font-size:0.9em; color:var(--text-secondary-color);}

.progress-indeterminate {height:5px; margin:5px 15px; background:var(--progress-bar-background-color); position:relative}
.progress-indeterminate::after {
    content:' '; display:block; background:var(--progress-bar-foreground-color); top:0; bottom:0; position:absolute;
    animation-name:progress-indeterminate; animation-duration:2s; animation-iteration-count:infinite;
    animation-direction:alternate; animation-timing-function:ease-in-out;
}

@keyframes progress-indeterminate{
    0% {left:0; width:15%;}
    50% {width:33%;}
    100% {left:85%; width:15%;}
}

@media only screen and (min-width:851px){
    .narrow-screen-only {display:none !important;}
}

@media only screen and (max-width:850px){
    .wide-screen-only {display:none !important;}

    nav.main-nav {grid-area:unset; overflow-y:auto; overflow-x:hidden;}
    nav.main-nav > ul {margin-bottom:64px; overflow:unset;}
    nav.main-nav li.link > a {padding-top:12px; padding-bottom:12px;}
    nav.main-nav li.link .icon {width:32px; margin-right:9px; font-size:1.2em}
    nav.main-nav li.header {padding-left:50px;}

    nav.main-nav.shown + div.nav-backdrop {
        width:100vw; background:var(--mobile-nav-backdrop); transition:background-color 0.3s, width 0s linear 0s;
    }
}

@media only screen and (min-width:577px) and (max-width:850px){
    body {--nav-panel-width:50px;}
    body > main {padding:15px 10px;}

    nav.main-nav {width:250px; right:-200px; transition:right 0.3s;}
    nav.main-nav.shown {right:0;}
    nav.main-nav li.nav-toggle {display:block}
    nav.main-nav li.separator {width:34px; transition:width 0.3s;}
    nav.main-nav.shown li.separator {width:234px;}

    nav.main-nav li.link.vulnerable {
        opacity:0; overflow-y:hidden; font-size:0; transition:opacity 0.15s, font-size 0.15s ease 0.15s;
    }
    nav.main-nav li.link.vulnerable a {
        padding-top:0; padding-bottom:0; transition:padding 0.15s ease 0.15s;
    }
    nav.main-nav.shown li.link.vulnerable {
        opacity:1; font-size:1rem; transition:opacity 0.15s ease 0.15s, font-size 0.15s;
    }
    nav.main-nav.shown li.link.vulnerable a {
        padding-top:12px; padding-bottom:12px; transition:padding 0.15s;
    }

    .dialog.rich {width:90vw;}
    .toast {left:10vw; width:calc(80vw - var(--nav-panel-width));}
}

@media only screen and (max-width:576px){
    body {--nav-panel-width:0;}
    body > main {padding:70px 5px 15px 5px;}
    aside.mobile-header {display:block;}
    nav.main-nav {
        width:calc(100vw - 56px); left:calc(46px - 100vw); border-right:var(--surface-border-color);
        transition:left 0.3s; right:unset;
    }
    nav.main-nav > ul {margin-top:70px;}
    nav.main-nav.shown {left:0;}
    nav.main-nav li.separator {margin:5px 16px;}
    nav.main-nav > .copyright {margin-bottom:5px;}

    .dialog.rich {
        width:100vw; height:100vh; box-sizing:border-box; border-radius:0; border:none;
        background:var(--background-empty-color); padding:57px 0 38px 0; max-height:unset;
    }
    .dialog.rich > .content {padding:10px; margin-right:0;}
    .dialog.rich > h2:first-of-type {
        background-color:var(--mobile-header-background); height:24px; padding:16px;
        font-size:20px; line-height:24px; font-weight:500; white-space:nowrap;
        overflow:hidden; text-overflow:ellipsis; width:calc(100vw - 32px);
        border-bottom:var(--mobile-header-border); color:var(--mobile-header-text-color);
        box-shadow:var(--mobile-header-box-shadow); position:fixed; top:0; left:0;
    }
    .dialog.rich > h2:first-of-type .get-help {
        color:var(--mobile-header-text-color); font-size:1em;
    }
    .dialog.rich section {
        padding:15px; margin:0 0 20px 0; background:var(--surface-background-color);
        border:var(--surface-border-width) solid var(--surface-border-color);
        border-radius:var(--surface-border-radius); box-shadow:var(--surface-box-shadow);
    }
    .dialog.rich section *:first-child {margin-top:0;}
    .dialog.rich section *:last-child {margin-bottom:0;}
    .dialog.rich > .buttons {
        display:grid; margin:0; padding:5px; gap:5px; grid-auto-flow:column;
        grid-auto-columns:1fr; direction:rtl; position:fixed; bottom:0; left:0;
        width:100vw; box-shadow:0 -1px 6px 3px var(--background-empty-color);
        background:var(--background-empty-color);
    }
    .dialog.rich > .buttons > button {margin:0; direction:ltr;}
    .toast {left:15px; width:calc(100vw - 30px);}

    main > h1:first-child {display:none;}

    .card, .card.semi-wide, .card.wide, .card.auto-width {margin-left:0; margin-right:0; width:auto;}
    .card.login-form {width:fit-content;}
    .card .header-button {padding:7px 10px; border-radius:calc(0.5em + 9px);}
    .card .header-button > span {display:none;}
    table.card.auto-width {width:100%;}

    .question-answer-buttons {grid-template-columns:1fr;}
    .question-answer-buttons button {grid-column:1/span 1;}
    .question-answer-buttons button:nth-child(2n+1):last-child {grid-column:1/span 1;}

    table.table td, table.table th {padding-top:8px; padding-bottom:8px;}

    .test-summary {
        grid-template-rows:auto auto auto auto auto auto; grid-template-columns:1fr; row-gap:8px;
        grid-template-areas:'count' 'count-text' 'time' 'time-text' 'attempts' 'buttons';
    }
}

@media only screen and (min-width:1280px){
    nav.main-nav {
        margin:20px 20px 40px 20px; border-color:var(--surface-border-color);
        height:calc(100vh - 60px); width:calc(var(--nav-panel-width) - 40px);
        border-radius:var(--surface-border-radius);
        grid-template-rows:1fr 0;
    }
    nav.main-nav > .copyright {position:relative; top:13px;}

    .toast {left:25vw; width:calc(50vw - var(--nav-panel-width));}

    .card {margin-left:15vw; margin-right:15vw;}
    .card.semi-wide {margin-left:7vw; margin-right:7vw;}
    .card.wide {margin-left:0; margin-right:0;}

    .dialog.rich {width:50vw;}
}