.card {
    padding:15px; margin:0 10vw 20px 10vw; background:var(--surface-background-color);
    border:var(--surface-border-width) solid var(--surface-border-color);
    border-radius:var(--surface-border-radius);
    box-shadow:var(--surface-box-shadow);

    &.auto-width {margin-left:auto; margin-right:auto; width:max-content;}
    &.semi-wide {margin-left:3px; margin-right:3px;}
    &.wide {margin-left:3px; margin-right:3px;}

    @include media-small {
        &, &.semi-wide, &.wide, &.auto-width {margin-left:0; margin-right:0; width:auto;}
        .header-button {
            padding:7px 10px; border-radius:calc(0.5em + 9px);

            > span {display:none;}
        }
    }
    @include media-xlarge{
        margin-left:15vw; margin-right:15vw;

        &.semi-wide {margin-left:7vw; margin-right:7vw;}
        &.wide {margin-left:0; margin-right:0;}
    }
}

.card, .card-content {
    > h2:first-of-type {
        margin-top:0; font-weight:var(--header-font-weight); margin-bottom:1em;

        + .subtitle {
            display:block; color:var(--text-secondary-color); margin-top:-1.3em; margin-bottom:1em;
        }
    }
}

.card-buttons {
    margin-top:15px; margin-bottom:-8px; display:flex; flex-direction:row-reverse;

    &:empty {display:none;}
}