input[type=text], input[type=password], input[type=number], input[type=datetime-local], textarea, select, .input {
    background:var(--input-background-color); border:1px solid var(--input-border-color);
    transition:border-color 0.3s; padding:2px 5px; font-size:0.9em; color:var(--text-primary-color);
    border-radius:2px;

    &:hover {border-color:var(--input-hover-border-color);}
    &:focus {
        border-color:var(--input-active-border-color); outline:none;
        box-shadow:0 0 2px var(--input-active-border-color);
    }
    &:disabled {
        background:var(--background-empty-color); border:1px solid var(--input-border-color);
        color:var(--text-secondary-color);
    }
    &.error {border-color:var(--error-color); color:var(--text-primary-color) !important;}
    &.success {border-color:var(--success-color); color:var(--text-primary-color) !important;}
    &.heading {
        font-size:1.5em; margin-top:0; font-weight:var(--header-font-weight); margin-bottom:0.5em;
        width:100%; box-sizing:border-box; font-family:inherit;
    }
    &.full-width {width:100%; box-sizing:border-box;}
}
textarea {
    resize:vertical; min-height:3em; max-height:50vh; font-family:inherit;

    &.no-resize {resize:none;}
    &.one-line {min-height:0.9em; height:calc(1.2em + 8px);}
}

input[type=radio], input[type=checkbox] {margin-left:15px;}
input[type=number] {width:6ch;}

@include media-large-xlarge {
    input.discreet, textarea.discreet {
        transition:border-color 0.3s, background 0.3s;

        &:not(:hover):not(:active):not(:focus) {
            background:transparent; border-color:transparent;
        }
    }
}

input.deleted {opacity:0.5; text-decoration:line-through;}

.input {
    input[type=text], input[type=password], input[type=number], input[type=datetime-local], textarea, select {
        border: none; padding:0;
    }

    .separator {
        margin:0 5px; border-left:1px solid var(--input-separator-color); display:inline-block;
        vertical-align:top; padding:0.5rem 0;

        &.spaced {
            margin:-2px 10px; border-color:var(--input-border-color); transition:border-color 0.3s;
            padding:calc(0.5rem + 3px) 0;
        }
    }

    &:hover .separator.spaced {border-color:var(--input-hover-border-color);}
}

select.hide-arrow {-webkit-appearance:none; -moz-appearance:none; appearance:none;}

p + label {margin-top:-0.5em;}
label.with-checkbox {
    padding-left:20px; display:block;

    input[type=radio], input[type=checkbox] {margin-left:-20px;}
}

input[type=text].link-presenter-input {
    background:var(--background-empty-color); display:block; border-radius:3px;
    font-family:monospace; width:100%; box-sizing:border-box; border:none;

    &:focus {box-shadow:none;}
}

.file-drop-container {
    background:var(--input-background-color); border:1px solid var(--input-border-color);
    padding:5px; color:var(--text-primary-color); border-radius:2px; font-size:0.85em;
    margin-top:3px;

    .no-files-placeholder {
        color:var(--text-secondary-color); text-align:center; padding:1.5em 0;
    }

    .image-preview {
        height:70px; width:100px; border:1px solid var(--input-border-color); border-radius:15px;
        overflow:hidden; display:inline-grid; grid-template-columns:1fr auto; grid-template-rows:auto 1fr;
        margin-right:5px;

        img {
            max-height:100%; max-width:100%; grid-row:1 / span 2; grid-column:1 / span 2; place-self:center;
            cursor: pointer;
        }
        .delete-image {
            vertical-align:top; margin-left:-22px; padding:3px 6px; border-radius:50%; background:#ddd;
            grid-row:1; grid-column:2;

            @include media-large-xlarge{
                display:none;
            }

            &:focus {background:#ddd !important;}
        }

        &:hover .delete-image {display:inline-block;}
        &.deleted {
            border-style:dashed;

            img {opacity:0.3; filter:grayscale(1);}
        }
    }
}

input[type=file].visually-hidden{
    position:absolute !important; height:1px; width:1px; overflow:hidden; clip:rect(1px, 1px, 1px, 1px);
}