.survey-answer-wrapper {
    margin-top:0; padding-left:0; list-style:none;

    li {
        border-bottom:1px solid transparent; display:grid;
        grid-template-columns:auto 1fr auto;

        input[type=checkbox], input[type=radio] {grid-column:1; grid-row:1;}
        input[type=text], .text {grid-column:2; grid-row:1;}
        .control-buttons {grid-column:3; grid-row:1;}

        .range {
            display:grid; grid-column:1 / 4; grid-auto-flow:column;

            button {border:2px solid transparent}
            button.selected {border-color:var(--button-border-color);}
        }

        @include media-large-xlarge{
            &:not(.no-hover):hover {border-bottom-color:var(--button-hover-background);}
        }

        &.deleted {
            input[type=checkbox], input[type=radio] {opacity:0;}
            input[type=text], .text {text-decoration:line-through;}
        }
    }

    .control-button {padding:3px 6px; margin-right:6px;}
    @include media-large-xlarge {
        .control-buttons {opacity:0;}
        li:hover .control-buttons {opacity:1;}
    }
}

.survey-add-answer-button {display:block; margin-top:-1em; margin-bottom:0.8em;}

.survey-question-header {
    .buttons {
        float:right;

        button {padding:3px 9px;}
    }

    @include media-large-xlarge {
        .buttons {display:none;}
        &:hover .buttons {display:block;}
    }
}

.survey-question-card.deleted {
    opacity:0.5;
    
    .heading, .survey-question-header {text-decoration:line-through;}
}

.answers-graph-wrapper {
    display:grid; grid-template-columns:1fr auto;

    .answers {grid-column:1;}
    .graph {grid-column:2;}

    @include media-small-medium {
        grid-template-columns:1fr; grid-template-rows:auto auto;

        .answers {grid-row:2;grid-column:unset;}
        .graph {grid-row:1;grid-column:unset;}
    }
}

.legend-square {
    display:inline-block; width:0.7em; height:0.7em; border:1px solid rgba(0,0,0,0.5);
    margin-right:-15px;
}