.tab-container {
    display:grid; grid-auto-flow:column; grid-auto-columns:1fr; width:fit-content;
    justify-items:center; align-items:baseline; margin:0 auto 0.4rem auto;

    .tab {
        cursor:pointer;

        .tab-content {
            color:var(--text-secondary-color); padding:3px 8px 1px 8px; margin:0 5px;
            border-bottom:2px solid var(--text-secondary-color); display:inline-block;
            transition:padding 0.3s, margin 0.3s, color 0.3s, border-color 0.3s;
        }
        &:hover .tab-content, input[type=radio]:checked + .tab-content {
            padding-left:13px; padding-right:13px; margin:0;
        }

        input[type=radio] {display:none;}
        input[type=radio]:checked + .tab-content {
            color:var(--button-colored-text-color); border-color:var(--button-colored-text-color);
        }
    }
}

.search-and-tabs {
    display:grid; grid-template-columns:auto 5vw 1fr 5vw; grid-template-areas:'tabs . search .';
    margin-bottom:0.5rem;

    .tab-container {grid-area:tabs; margin-bottom:0;}
    .search-field {grid-area:search; width:100%; box-sizing:border-box;}

    @include media-small {
        grid-template-columns:1fr; grid-template-rows:auto 0.5rem auto; grid-template-areas:'tabs' '.' 'search';
    }
}